*.war
*.ear
*.releaseBackup
bin/
gen/
dist/
target/
reports/
build/
*.class
release.properties
local.properties
BoxJavaLibraryV2.jar
.DS_Store
.gradle

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
out
gen-external-apklibs